// Variáveis
$theme-color: #EE712B;
$theme-color-hover: #DC4712;

// Corpo da página
body {
  font-family: "Open Sans", sans-serif;
}

// Tudo que tiver "-theme"
*[class*="-theme"]:not(.text-theme) {
  background-color: $theme-color;
}
.text-theme {
  color: $theme-color;
}

// Botões
.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme:active:focus {
  background-color: $theme-color-hover;
}

// Links
a {
  color: $theme-color;
  &:hover {
    color: $theme-color-hover;
  }
}

// Link do PetHelper
.card a:not(.btn):not(.nav-link):not([data-toggle='collapse']) {
  border: none;
}

// Formulários
.form-control {
  color: #e3e3e3;
  &:focus {
    color: #e3e3e3;
  }
}
